<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>terries</title>

	<script src="/static/lib/jquery-1.8.3.min.js" type="text/javascript"></script>
	<script src="/static/lib/underscore-min.js" type="text/javascript"></script>
	<script src="/static/lib/backbone.js" type="text/javascript"></script>

	<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
	
	<!-- We'll need to prefix this to be relative to whatever the serving host is. For now, we're running of a local node content server, but eventually this will be off s3 and we'll need to swap out /static/ for a full s3 URL. This will be part of the compile-for-deployment step. -->
  <script src="/static/js/terries-models.js"></script>
  <script src="/static/js/terries-views.js"></script>

	<link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen" charset="utf-8">

	<script type="text/javascript" charset="utf-8">
		var host = "<%= host %>";
   	var port = <%= port %>;

		var map;
   	
		$(document).ready(function() {
			console.log("loaded");
			
			map = new types.Map(null, {width:50, height: 50});
			map.getTile(10, 10).set("unit", new types.Unit({team:0}));

			map.getTile(30, 30).set("unit", new types.Unit({team:1}));
			
			var mapView = new views.MapView({collection:map});
			
			$("body").append(mapView.render().el);
			console.log("initial render done");
		});
	
	</script>
	


</head>
<body>
</body>
</html>