
.unit.team0 {
  background-color: green;
}

.unit.team1 {
  background-color: blue;
}

.unit {
  width: 10px;
  height: 10px;
}

.unit.selected {
  position: relative;
  top: -4px;
  left: -4px;
  width: 18px;
  height: 18px;
}

.tile.even {
  background-color: white;
}

.tile.odd {
  background-color: #efefef;
}

.tile {
  float: left;
  width: 10px;
  height: 10px;
}

.tile.target-0, .tile.mouseover-0:hover {
  background-color: #55ff55;
}

.tile.target-1, .tile.mouseover-1:hover {
  background-color: #5555ff;
}


br.clear {
    content: ".";
  	display: block;
  	clear: both;
  	visibility: hidden;
  	line-height: 0;
  	height: 0;
}