
.selection-block {
  opacity: 0.3;
  background-color: black;
  width: 100%;
  height: 100%;
  
  position: absolute;
  z-index: 100;
}

.ownership.team0, .unit.team0, .score.team0 {
  background-color: green;
}

.ownership.team1, .unit.team1, .score.team1 {
  background-color: blue;
}

.ownership {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}

.unit {
  width: 20px;
  height: 20px;
  
  border-radius: 10px;
}

.unit.selected {
  position: relative;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 20px;
}

/*.tile.even {
  background-color: white;
}

.tile.odd {
  background-color: #efefef;
}
*/

.tile {
  float: left;
  width: 20px;
  height: 20px;
  
  box-sizing: border-box;
  
  position: relative;
}

.tile.target-0, .tile.mouseover-0:hover {
  border: 2px solid #55ff55;
  border-radius: 3px;
/*  width: 6px;
  height: 6px;
*/}

.tile.target-1, .tile.mouseover-1:hover {
  border: 2px solid #5555ff;
  border-radius: 3px;
/*  width: 6px;
  height: 6px;
*/}

.tile.zone-owned-0 {
  background-color: #ccffcc;
}

.tile.zone-owned-1 {
  background-color: #ccccff;
}

.tile.flag {
  border: 2px solid black;
/*  width: 6px;
  height: 6px;
*/  overflow: hidden;
}

.tile.impassable {
  background-color: black;
}

.tile {
  background-color: #eee;
}

.tile.trespassing {
  border: 1px solid #ddd;
/*  width: 8px;
  height: 8px;
*/}

.scoreboard {
  width: 600px;
  text-align: center;
  font-family: Helvetica, sans-serif;

}

.score {
  width: 100px;
  height: 100px;
  font-size: 4em;
  color: white;
  
  font-weight: bold;
}

.score.team0 {
  float: left;
}

.score.team1 {
  float: right;
}

.gameTime, .turnTime{
  height: 50px;
  width: 400px;
  background-color: #ddd;
  font-weight: bold;
  font-size: 2em;
  
  float: left;
}

.turnTime {
  position: relative;
  overflow: hidden;
  color: black;
}

.indicator {
  position: absolute;
  
  left: 0px;
  height: 100%;
  background-color: red;
}



br.clear {
    content: ".";
  	display: block;
  	clear: both;
  	visibility: hidden;
  	line-height: 0;
  	height: 0;
}