
.unit.team0 {
  background-color: green;
}

.unit.team1 {
  background-color: blue;
}

.unit {
  width: 10px;
  height: 10px;
}

.tile.even {
  background-color: white;
}

.tile.odd {
  background-color: #ddd;
}

.tile {
  float: left;
  width: 10px;
  height: 10px;
}

br.clear {
    content: ".";
  	display: block;
  	clear: both;
  	visibility: hidden;
  	line-height: 0;
  	height: 0;
}